/* ipspired by https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* Customize the label (the container) */
.container {
/*  display: block; */
  display: inline;
  position: relative;
  padding-left: 20px;      /* breedte van cell met checkbox */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
/*  top: -4px;         /* start positie van checkbox, 0 is te laag */
  top: 4px;         /* start positie van checkbox, 0 is te laag */
/*  left: 0;   */
  left: 4px;
  height: 18px;
  width: 18px;
  margin: 0px;
  padding: 0px;
  border: 1px dotted green;
  background-color: #d0d0d0;
  box-shadow:3px 3px 3px #f0f0f0 inset;
}

/* change shadow when checked */
.container input:checked ~ .checkmark {
  box-shadow:3px 3px 3px #b0b0b0 inset;
}


.night .checkmark {
  background-color: #505050;
  box-shadow:3px 3px 3px #808080 inset;
}

.night .container input:checked ~ .checkmark {
  box-shadow:3px 3px 3px #606060 inset;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.night .container:hover input ~ .checkmark {
  background-color: #606060;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;   /* position of rotated square inside checkmark */
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid ;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
