.smaller {
 font-size:70%;
}

.nothing {
  color:black ;
  background-color:white ;
}

.blockedOff {
  color:blue;
  background-color:#66FFFF;
}

.done {
  color:green;
  background-color:#F0F0F0;
}

.failed {
  color:red ;
  background-color:lightgrey ;
}

.delay {
  color:blue ;
  background-color:white ;
}

.late {
  color:red ;
  background-color:lightgreen ;
}

.lt15 {
  color:yellow ;
  background-color:green ;
}

.lt30 {
  color:purple ;
  background-color:orange ;
}

.lt60 {
  color:blue ;
  background-color:yellow ;
}

.night .nothing {
  color:yellow ;
  background-color:#303030 ;
}

.night .done {
  color:lightgreen;
  background-color:#808080;
}

.night .failed {
  color:red ;
  background-color:lightgrey ;
}

.night .delay {
  color:green ;
  background-color:#303030 ;
}

.night .late {
  color:red ;
  background-color:lightgreen ;
}

.night .lt15 {
  color:yellow ;
  background-color:green ;
}

.night .lt30 {
  color:purple ;
  background-color:orange ;
}

.night .lt60 {
  color:blue ;
  background-color:yellow ;
}

.day {
  color:black;
  background-color:white;
}

.day a:link {
  color:blue;
}

.day a:visited {
  color:purple;
}

.day a:active {
  color:lightblue;
}

.night, .night input[type=text], .night input[type="button"], .night input[type=edit], .night option, .night select {
  color:yellow;
  background-color:#303030;
}

.night input {
  border-color:grey;
}

.night a:link {
  color:lightgreen;
}

.night a:visited {
  color:lightblue;
}

.night a:active {
  color:orange;
}

.collapse {
  display:none;
}

.dcolon {
  width:46px;
  text-align: center;
}

.cimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.night .dayimg {
 display:none;
}

.day .nightimg  {
 display:none;
}
